@model IEnumerable<ECommStoreWeb.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Shop</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPhotoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <img class="img-thumbnail" style="width:100px;height:100px;" src="~/ProductImages/@item.ProductPhotoLink" alt="..." />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>
                <td class="row">
                    @Html.ActionLink("Buy", "Buy", new {  id=item.ProductId, q=1  }, new{@class = "btn btn-sm btn-primary col-sm-6"})
                    <form class="col-sm-6" asp-route-id="@item.ProductId" method="post" asp-action="AddToCart"><input class="btn btn-sm btn-success" value="Add To Cart" type="submit" /></form>
                </td>
            </tr>
        }
    </tbody>
</table>
